name: Lint Dockerfile

on:
  push:
    branches: [master]
    paths: [Dockerfile]
  pull_request:
    branches: [master]
    paths: [Dockerfile]

jobs:
  hadolint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Lint Dockerfile
        uses: hadolint/hadolint-action@v3.1.0
        with:
          dockerfile: Dockerfile
