name: ShellCheck

on:
  push:
    branches: [master]
    paths: ["scripts/**", "s6-overlay/**"]
  pull_request:
    branches: [master]
    paths: ["scripts/**", "s6-overlay/**"]

jobs:
  shellcheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Run ShellCheck
        uses: ludeeus/action-shellcheck@2.0.0
        with:
          scandir: scripts
          severity: warning
